/autom4te.cache/
/aclocal.m4
/build-aux/
/config.guess
/config.sub
/config.h.in
/config.h.in~
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/tests/package.m4
/tests/testsuite


/configure
Makefile.in

/ocl-icd-*.tar.gz
